.slide pre#input {
	background: black;
	color: #0b0;
	margin: 0;
	padding: 0;
	border: 0;
	spacing: 0;
	width: 95%;
}
.slide pre#output {
	background: black;
	color: #0b0;
	margin: 0;
	padding: 0;
	border: 0;
	spacing: 0;
	width: 95%;
}
